body {

    background-color: #000000;
    color: #ffffff;
}

span{
    color: #22D4FD;
    border: 1px solid #22D4FD;
    padding: 10px;
}

.button {
    background-color: #051ead;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;